<h1>This is the secret page!</h1>

<p>
	You found me!
</p>

<img src='https://i.pinimg.com/originals/6f/84/45/6f84458acecda0aec391540bdc523f38.jpg'>

<li><a href='/register'>Sign up!</a></li>
<li><a href='/login'>Login!</a></li>
<li><a href='/logout'>Logout!</a></li>